/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

div.all{
    
}

section.menu {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 0px;
gap: 611px;
width: 1600px;
height: 88px;
flex: none;
order: 0;
flex-grow: 0;

    

}

header {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 134px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;


}

header > img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

header .menu__title {
    width: 160px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

nav.menu__nav ul.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 800px;
    height: 19px;
    flex: none;
    order: 1;
    flex-grow: 0;    
}

li.menu__list__item > a.sobre-mim {
width: 82px;
height: 19px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #464646;
flex: none;
order: 0;
flex-grow: 0;
}

li.menu__list__item > a.skills {
width: 40px;
height: 19px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #464646;
flex: none;
order: 1;
flex-grow: 0;
}

li.menu__list__item > a.hobbies{
width: 63px;
height: 19px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #464646;
flex: none;
order: 2;
flex-grow: 0;
    

}
li.menu__list__item > a.formacao{
width: 76px;
height: 19px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #464646;
flex: none;
order: 3;
flex-grow: 0;    

}

li.menu__list__item > a.xp{
    width: 62px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 4;
    flex-grow: 0;    

}

li.menu__list__item__contato {
width: 180px;
height: 19px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #464646;
flex: none;
order: 5;
flex-grow: 0; 
   

}

/*Sessão Title*/

section.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 208px;
    width: 1136px;
    height: 368px;
    flex: none;
    order: 1;
    flex-grow: 0;  
  

}

.title .title__profile {
    width: 368px;
    height: 368px;
    background: url(.jpg);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.title .title__bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;
    width: 751px;
    height: 246px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title .title__subsection {
    width: 751px;
    height: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title .title__network {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 467px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/*Sessão About*/

section.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    width: 1440px;
    height: 383px;
    background: #EAF2FD;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 88px;
    width: 1440px;
    height: 1245px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
flex-direction: column;
align-items: center;
padding: 82px;
gap: 32px;

width: 1440px;
height: 581px;

/* Azul/10% */

background: #EAF2FD;

/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1136px;
    height: 1886px;
    flex: none;
    order: 4;
    flex-grow: 0;

}

/*Contato*/

section.formcontato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    width: 1440px;
    height: 788px;
    background:  #EAF2FD;
    flex: none;
    order: 0;
    flex-grow: 0;

}

/*footeer*/

section.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 102px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
